/*css del body y de la pagina en total*/
body, html {
    background: linear-gradient(to bottom, #4d4d4d, #000000);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0; 
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/* CSS para la clase .pagtwo */
.pagtwo {
    background: url(fondo-pantalla-abstracto-humo-color-diseno-fondo-estetico.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    margin: 0;
}

/*css del header y video de fondo*/
.video-container {
    position: relative;
    width: 100%;
    max-height: 80vh;
    overflow: hidden;  
}
.video-container video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* CSS para el fondo de video */

#video-background {
   width: 100%;
    height: 800px; 
    object-fit: cover;
    z-index: -10;
    overflow: hidden;
    top: 0;
    left: 0;  
}

/* CSS para el elemento de superposición de texto */

.text-overlay {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 0;
    text-align: center;
    color: white;
    z-index: 10;
    display: flex;
    height: 200px;
}
.text-overlay {
    min-height: 200px; 
}
/* CSS para el logotipo */

.logo {
    margin: 0 auto;
    height: 8vh;
    display: block;
    cursor: pointer;
    filter: brightness(100%);
}

/* CSS para la barra de navegación horizontal */

.ulu {
    list-style: none;
    display: flex; 
    width: 100%;
    margin: 0;
    padding: 0; 
}
.ulu li {
    margin-right: 10px; 
}
.ulu a {
    text-decoration: none; 
    color: white; 
    font-size: 1.5rem;
}
.frags{
    margin-left: 4vw;
}
/* Estilos para la clase .bars__menu */
.bars__menu {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin-right: 5px;
    z-index: 100;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 2px;
    background: #ffffff;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: transform 300ms, opacity 300ms;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 1px); 
}

.activeline2__bars-menu{
    opacity: 0;
    
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-4px, 2px);
}


.naveg {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    display: none;
    height: 15vh;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
   
}
.activemenu{
    opacity: 1;
     transition: all 700ms;
     
}

.menu li {
    margin: 10px 0;
    display: block;
    margin-left: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.menu-toggle {
    cursor: pointer;
    font-size: 24vh;
    display: none;
    color: #fff;
}

/* video */

video{
    filter: brightness(50%);
}
.titulo{
    font-size: 7vw;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    cursor: default;
}
.text-over{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    z-index: 10; 
    display: flex;  
    width: 70%;
}
.letter{
    animation:fl 1s ease-in-out forwards;
    animation-delay: 0.0s;
    opacity: 0;
}
@keyframes fl{
    0%{opacity: 1;color: rgb(255, 255, 255);}
    10%{opacity: 0;color: white;}
    20%{opacity: 1;color: white;}
    30%{opacity: 0;color: white;}
    40%{opacity: 1;color: white;}
    50%{opacity: 0;color: white;}
    70%{opacity: 1;color: white;}
    80%{opacity: 0;color: white;}
    90%{opacity: 1;color: white;}
    100%{opacity: 0;color: white;}
}

.letterR{
    animation:R1 0.6s ease-in-out forwards;
    animation-delay: 0.9s;
    opacity: 0;
}
@keyframes R1{
        0%{opacity: 0;color: black;}
        100%{opacity: 1;color: white;}
    
    }

.letterE{
    animation:E1 0.1s ease-in-out forwards;
    animation-delay: 1.5s;
    opacity: 0;
}
@keyframes E1{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterC{
    animation:C1 0.1s ease-in-out forwards;
    animation-delay: 1.6s;
    opacity: 0;
}
@keyframes C1{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterO{
    animation:O1 0.1s ease-in-out forwards;
    animation-delay: 1.7s;
    opacity: 0;
}
@keyframes O1{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterR2{
    animation:O1 0.1s ease-in-out forwards;
    animation-delay: 1.8s;
    opacity: 0;
}
@keyframes O1{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterD{
    animation:D1 0.1s ease-in-out forwards;
    animation-delay: 1.9s;
    opacity: 0;
}
@keyframes D1{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letter-{
    animation:GU1 0.2.4s ease-in-out forwards;
    animation-delay: 2.2s;
    opacity: 0;
}
@keyframes GU1{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterO2{
    animation:O2 0.1s ease-in-out forwards;
    animation-delay: 2s;
    opacity: 0;
}
@keyframes O2{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterF{
    animation:F 0.1s ease-in-out forwards;
    animation-delay: 2.1s;
    opacity: 0;
}
@keyframes F{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterP{
    animation:P 0.1s ease-in-out forwards;
    animation-delay: 2.2s;
    opacity: 0;
}
@keyframes P{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterR3{
    animation:R3 0.1s ease-in-out forwards;
    animation-delay: 2.3s;
    opacity: 0;
}
@keyframes R3{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterO3{
    animation:O3 0.1s ease-in-out forwards;
    animation-delay: 2.4s;
    opacity: 0;
}
@keyframes O3{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterG{
    animation:G 0.1s ease-in-out forwards;
    animation-delay: 2.5s;
    opacity: 0;
}
@keyframes G{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterR4{
    animation:R4 0.1s ease-in-out forwards;
    animation-delay: 2.6s;
    opacity: 0;
}
@keyframes R4{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterA{
    animation:A 0.1s ease-in-out forwards;
    animation-delay: 2.7s;
    opacity: 0;
}
@keyframes A{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterM{
    animation:M 0.1s ease-in-out forwards;
    animation-delay: 2.8s;
    opacity: 0;
}
@keyframes M{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterM2{
    animation:M2 0.1s ease-in-out forwards;
    animation-delay: 2.9s;
    opacity: 0;
}
@keyframes M2{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterI{
    animation:I 0.1s ease-in-out forwards;
    animation-delay: 3s;
    opacity: 0;
}
@keyframes I{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterN{
    animation:N 0.1s ease-in-out forwards;
    animation-delay: 3.1s;
    opacity: 0;
}
@keyframes N{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
.letterG2{
    animation:G2 0.1s ease-in-out forwards;
    animation-delay: 3.2s;
    opacity: 0;
}
@keyframes G2{
    0%{opacity: 0;color: black;}
    100%{opacity: 1;color: white;}

}
:root {
    --link-color: rgb(255, 255, 255);
}


.frags a {
    color: var(--link-color);
    text-decoration: none;
    padding: 10px;
    border-bottom: 2px solid transparent;
}

.frags a:hover {
    color: #ccfffb;
    border-bottom: 4px solid #00ffff;
    transition: color 0.5s ease-in-out;
}

.line{
    height: 1vh;
    background-color:#9affff;
}
.nav-bar{
    display:none;
}

.arrow-container {
    position: absolute;
    top: 70%;
    left: 10%;
    animation: arrow 1s infinite alternate-reverse;
}

@keyframes arrow {
    0% { top: 80%; }
    100% { top: 70%; }
}
/* Flecha de desplazamiento vertical */
.scroll-arrow {
    width: 5px;
    height: 100px;
    background-color: #ffffff;
    position: absolute;
    cursor: pointer;
}

/* Flecha de desplazamiento vertical */
.scroll-arrow::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    width: 100px;
    height: 100px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
}


/*css del section1*/
.section1{
    height: 650px;
    display: flex;  
}
.ima{
    width: 450px;
    height: 450px;
    clip-path: circle(50.0% at 50% 50%);
    margin-top: 20vh;
    margin-left: 1vw;
    animation: epicAnimation 5s infinite;
}

.imagen-avatar {
    width: 450px;
    height: 450px;
    clip-path: circle(50% at 50% 50%);
    margin-top: 20vh;
    margin-left: 1vw;
}

/* Animación */
@keyframes epicAnimation {
    0%, 100% {
        filter: brightness(90%);
    }
    25%, 75% {
        filter: brightness(130%);
    }
}

/* Aplicar la animación a la imagen */
.imagen-avatar {
    animation: epicAnimation 2s infinite;
}
.quienes-somos {
    color: #00ffff;
    font-size: 2.8rem;
    margin-top: 1vh;
    border-bottom: 1vh solid #00ffff;
}

.text {
    text-align: left;
    width: 90%;
    font-size: 1.4rem;
    z-index: 10;
    color: #ffffff;
    align-items: center;
    display: flex;
    margin-left: 2vw;
    font-stretch: condensed;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}

.links-p {
    text-decoration: none;
    color: #2ecece;
    font-weight: 700;
}

.links-p:hover {
    color: #00ffff;
    font-weight: 900;
}

.texto {
    text-align: left;
    width: 100%;
    font-size: 1.3rem;
    z-index: 10;
    color: #ffffff;
    opacity: 1;
}

.qhdn {
    color: rgb(237, 21, 21);
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.what-is-the-page {
    display: flex;
    flex-direction: column;
    z-index: 10;
    padding: 20px;
}

/*css del section2*/


#conocimiento {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

.integrante {
    text-align: center;
    background-color: #2f2f2f;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #00ffff;
    transition: transform 0.3s ease-in-out;
    height: 45vh;
    width: 25vw;
    margin-top: 10vh;
    position: relative;
}

.names {
    color: #00ffff;
    transform: scale(1.3);
}

.integrante:hover {
    transform: translateY(-10vh) scale(1.1);
}

.info {
    display: none; /* Inicialmente oculta la información adicional */
}

.integrante img {
    max-width: 3vw;
    border-radius: 25%;
    position: absolute;
    bottom: 20px;
    left: 0;
    transform: scale(1.2);
}

.img-me1 {
    margin-left: 20%;
}

.img-me2 {
    margin-left: 45%;
}

.img-me3 {
    margin-left: 70%;
}

.integrante:hover .info {
    display: block;
    font-size: 2vw;
}

.integrante h2 {
    font-size: 24px;
    margin: 10px 0;
}

.integrante p {
    font-size: 1.8vw;
    margin: 20px 0;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
   
    #conocimiento {
        flex-direction: column; 
        align-items: stretch;
        padding: 10px; 
        margin-left: 9vw;
    }

    .integrante {
        width: 80%; 
        margin: 20px 0; 
    }
    .integrante img{
        max-width:6vw ;
    }

    .integrante:hover {
        transform: translateY(-5vh) scale(1);
    }
    .integrante:hover .info {
        display: block;
        font-size: 5vw;
    }
    .arrow-container{
        display: none;
    }
}


/*css del footer*/
 
/* styles.css */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.portfolio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.website {
    flex: 1;
    max-width: 200px;
    margin: 10px;
    text-align: center;
}

.website a {
    text-decoration: none;
    color: #fff;
}

.website img {
    width: 100%;
    border: 2px solid #fff;
    border-radius: 5px;
}

.website p {
    margin-top: 5px;
}
@media (max-width: 768px) {
    .portfolio {
        flex-direction: column;
        align-items: center;
    }

    .website {
        max-width: 100%;
    }
}
/*css de los inputs*/

.container {
    max-width: 30%;
    margin: auto;
    padding: 20px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-radius: 5px;
    margin-top: 100px;
    height: 60vh;
    border: #ffffff  solid 2px;
    text-align: center;

}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    color: #ffffff;
}  
label {
    margin-bottom: 8px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 0px;
} 
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #ff0404;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    margin-top: 60px;
}
.btn-neon:hover{
    background: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
    transition-delay: 1s;
    color: #ffffff;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#a945c7);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#a945c7);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#a945c7);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#a945c7);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
.form{
    width: 1000px;
    height: 70px;
    max-width: 400px;
    position: relative;
    overflow: hidden;
    color: #ffffff;
}
.form input{
    width: 100%;
    height: 100%;
    background: none;
    color: #ffffff;
    padding-top: 40px;
    border: none;
    outline: 0px;
}
.form .lbl-nombre{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid #ffffff;
}
.form .lbl-nombre:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #2ecece;
    transform: translateX(-100%);
    transition: all 0.3s ease;
}
.text-nomb{
    position: absolute;
    bottom: 5px;
    left: 0;
    transition: all 0.3s ease;
    color: #ffffff;
}
h2 {
    margin-top: 0;
    color: rgb(255, 255, 255);
}
.form input:focus + .lbl-nombre .text-nomb,.form input:valid + .lbl-nombre .text-nomb{
    transform: translateY(-150%);
    font-size: 14px;
    color: #ffffff;
}
.subtitle{
    color: #ffffff;
    text-align: center;
    font-size: 1rem;
}
.form input:focus + .lbl-nombre:after, .form input:valid + .lbl-nombre:after{
    transform: translateX(0%);
}
/* Estilos para dispositivos móviles (pantallas más pequeñas) */
@media screen and (max-width: 768px) {
    .container {
        max-width: 80%; 
    }
}

/* Estilos para el botón en dispositivos móviles */
@media screen and (max-width: 480px) {
    .container button {
        padding: 8px 16px; 
        font-size: 1rem; 
    }
}

/*css de la parte de analisis*/
/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Estilos para el encabezado */
h1 {
    margin: 0;
}

/* Estilos para el contenedor del slider */
.slider-container {
    max-width: 800px;
    margin: 20px auto;
    overflow: hidden;
}

/* Estilos para el slider */
.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

/* Estilos para cada elemento del slider */
.des {
    width: 150px;
    height: 200px;
    margin-right: 10px;
    border: 1px solid #ff0000;
    border-radius: 5px;
    cursor: pointer;
    scroll-snap-align: center;
}

/* Estilos para el contenedor de análisis */
.analysis {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 5px;
    font-size: 23px;
    color: #ffffff;
}

/* Estilos para la calificación (rating) */
.rating {
    display: inline-block;
    font-size: 50px;
   
}

.rating input {
    display: none;
}

.rating label {
    color: #ccc;
    cursor: pointer;
    margin-right: 10px; /* Añadir un margen para separar las estrellas */
}

.rating label:hover,
.rating input:checked ~ label {
    color: gold;
}



/*parte del media*/
  @media (max-width: 1000px) {
    body {
        font-size: 16px;
    }
    .navbar{
        display: none;
    }
    .text-overlay{
        width: 85vw;
    }
    .text-gover{
        position: absolute;
        top: -5%;
        left: 90%;
        width: 100vw;
        color:#fff;
        z-index: 10; 
        display: flex;
        height:70px;
    }
    .text-gover:active{
        left: -10%;
        background-color: #303030;
        top: 0%;
        height:100px;
        width: 125vw;
        
    }
    .naveg{
        display: block;
        margin-left: 0;
    } 
    .menu{
        display: block;
        width: 100vw;
        background: #5f4f4f
    } 
    .titulo{
        margin-top: -150px;
        left: 80%;
    }
    #video-background{
        height: 400px;
    }
    .frags{
        display: block;
        margin: 5px;
        font-size: 2.5vw;
        
    }
    .nav-bar{
        display:block;
    }
    .nav-links{
        display: block;
        margin-top: 0%;
       
    }
    .logo{
       display: none;
    }
    .frags a:hover {
        color: #ffffff;
        border: none;}
    .frags a{
        height: 5px;
    }
    #section1{
        color: #000000;
        height: auto;
        display: block;
      
        
    }
    .img-us1{
        display: none;
    }
    .text{
        width: 85vw;
    }
}  

/*css de la pagina 2*/
nav{
    display: inline;
}
.header{
    
    background-color: transparent;
    color: #ffffff;
    padding: 0px 0;
    display: flex;
}
.navbar {
    padding: 0px 0;
    top: 0;   
    background-color: transparent;
}
.list{
    display: flex;
    align-items: center;
    color:white;
}
.lulu{
    color: #ffffff;
    list-style: none;
    display: flex;
    width:100vw;
    margin-top: 10px;
}
.aa{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5vw;
}
.fragss:hover{
    border-bottom: 2px solid #ffffff;
}
.logos{
    margin-left: auto;
    margin-right: auto;
    height: 4vw;
    display: flex;
    margin: 0 10px; 
    cursor: pointer;
}

@media (max-width: 1000px) {
    
    .container{
        border: none;
    }
   
}

.game-container {
    text-align: center;
    color: white;
}

.ping-pong-table {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #222;
    border: 2px solid white;
    margin: 20px auto;
}

.ball {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
}

.paddle {
    width: 10px;
    height: 80px;
    background-color: white;
    position: absolute;
}

#playerPaddle {
    left: 10px;
}

#computerPaddle {
    right: 10px;
}

.scoreboard {
    font-size: 24px;
}

.lives {
    font-size: 18px;
}
